:root{
    --color-red: #de1b23;
    --color-black: #222222;
    --color-blue: #132042;
    --color-shade: #bfc3c5;
}


html,body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.map-page{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--color-blue);
    background-color: var(--color-shade);
    font-family: Arial, Helvetica, sans-serif;
}

.header-section{
    background-color: var(--color-blue);
    color: white;
    padding: 20px 0;
}

.filter-section{
    background-color: var(--color-red);
}
.filter-section-wrapper{
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.filter-section select{
    border: 1px solid #ccc;
    height: 40px;
    margin: 2% 0;
    width: 45%;
    text-align-last: center;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.map-section{
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    margin-bottom: 30px;
    overflow: hidden;
    border: 2px dotted white;
    box-sizing: border-box;
}
.map-svg{
    position: relative;
    transform: scale(1);
    top: 0px;
    left: 0px;
    transition: all 0.5s;
}
.map-svg.zoom{
    transform: scale(2.3);
    transition: all 0.5s ease;
}

path{
    fill: lightgray;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    transition: fill 0.3s ease-in-out;
}

path:hover{
    fill: gray;
}

.state-enabled{
    fill: var(--color-red);
    cursor: pointer;
    position: relative;
}

.state-active{
    fill: var(--color-blue);
}

.map-svg text{
    display: block;
    color: black;
    fill: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    stroke-width: 4px;
    stroke: rgb(178, 175, 179);
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 0.5;
    paint-order: stroke fill;
}

.map-dialog{
    position: absolute;
    right: -60%;
    transition: right 0.5s ease-in;
    top: 0;
    background-color: white;
    max-width: 50%;
    border: 2px solid black;
    padding: 5px;
}

.close-btn{
    position: absolute;
    border: none;
    background-color: transparent;
    top: 2px;
    right: 2px;
    width: 40px;
    height: 40px;
}

.close-btn::after{
    position: absolute;
    content: "X";
    border: 2px solid black;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    top: 0px;
    right: 0px;
    font-weight: 800;
    background-color: white;
}

.dialog-title{
    background-color: var(--color-red);
    color: white;
    margin: 0;
   padding: 15px;

}
.dialog-message{
    font-size: 20px;

}

.map-dialog.active{
    right: 0;
    transition: right  0.5s ease-in;
}

.embed-btn{
    display: block;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 0px;
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--color-red);
    color: white;
    border: none;
}

.embed-btn:disabled{
    opacity: 0.7;
}

.embed-code{
    display: none;
    width: 80%;
    resize: none;
    height: 60px;
}

.footer-section{
    background-color: var(--color-black);
    color: white;
}

.footer-section p{
    line-height: 1.5;
    margin-bottom: 0px;
    padding: 20px 0;
}

.footer-section a{
    text-decoration: none;
    color: var(--color-red);
    font-size: 18px;
    font-weight: 600;
}


@media (max-width: 949px) {
    .map-page{
        width: 80%;
    }
    .filter-section-wrapper{
        display: block;
    }
}

@media (max-width: 725px) {
    .map-page{
        width: 90%;
    }
    .map-section{
        width: 100%;
    }
    .filter-section select{
        width: 96%;
    }
    .dialog-message{
        font-size: 14px;
    
    }
}
